db.sqlite3
geckodriver.log
.idea/
*__pycache__*
*.pyc
functional_tests/__pycache__
deploy_tools/logdeploy.txt
/superlists/superlists_var.py
superlists/superlists_var.py
/functional_tests/screendumps/
